<div class="author">
  <h1 class="author__heading">Hi, I am Ashok.</h1>
  <p class="author__body">Want to learn Node, Express</p>
</div>
<div class="image-container">
  <img src="/images/ashok_photo.jpg" alt="Picture Of Ashok Paudel" class="hero-image" width="521" height="521">
</div>

<section class="articles">
  <h2 class="articles__heading"> Latest Posts </h2>

  <ul class="articles-ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list__date">Date</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list__date">Date</span>
      </a>
    </li>
  </ul>

  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>